.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #bbc6c9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 30px 0;
  min-height: calc(100vh - 60px);
  height: 100%;
  background-color: darkcyan;
}

.card{
  max-width: 250px;
  width: 100%;
  border-radius: 0 0 20px 20px;
  margin: auto;
  line-height:50px;
  background-color: white;
  /* width: 250px; */
  padding: 5px 0;
  font-size: x-large;
}

.card-title{ 
  max-width: 250px;
  width: 100%;
  margin: auto;
  border-radius: 20px 20px 0 0;
  line-height:70px;
  background-color: #8A2BE2;
  color: white;
  font-size: xx-large;
}

button:disabled,
button[disabled]{
  opacity: 50%;
  cursor: auto;
}

.button-left{
  margin: auto;
  text-align: right;
}

.button-right{
  font-size: x-large;
  color:white;
  margin: auto;
  text-align: left;
}

.button-home{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: x-large;
  position: absolute;
  left: 10px;
  top: 10px;
}

button {
  border: none;
  padding: 5px 15px;
  text-align: center;
  font-size: 160px;
  cursor: pointer;
}


.button-taboo {
  font-size: x-large;
  background-color: #8A2BE2;
  color: white;
  margin: 10px 0;
}

.button-correct {
  font-size: x-large;
  background-color: #4CAF50;
  color: white;
  margin: 10px 0;
}

.button-pass {
  font-size: x-large;
  background-color: red;
  color: white;
  margin: 10px 0;
}

.button-next {
  border-radius: 15px;
  font-size: x-large;
  background-color:#8A2BE2;
  color: white;
}

.button-reset {
  font-size: x-large;
  background-color: orange;
}

.center {
  margin: auto
}
.timer {
  width: 150px;
  font-size: x-large;
  background-color: white;
  padding: 5px 15px;
  text-align: center;
}

.score-header  {
  background-color: #3498DB;
  color: white;
}

.score-table {
  font-size: x-large;
  line-height: 50px;
  margin: auto;
  max-width: 400px;
}

.score-body{
  font-size: x-large;
  line-height: 50px;
  margin: auto;
  max-width: 400px;
  background-color: lightblue;
}

.score-table .taboo {
  color:#8A2BE2
}

.score-table .pass {
  color: red
}

li {
  list-style-type: none;
}

.total-score{
  background-color: #87CEEB;
  width:100%
}